.custom-content{
  height:100%;
  background: black no-repeat;
  background-size: 100%;
  background-image: url("https://images.alphacoders.com/550/550281.jpg");
  background-position: right bottom;
  padding-top: 30px;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #FFFDFF;
}
#daily-reading-container{
  width: 50%;
  text-align: center;
  margin-left:25%;
  font-size:18px;
  background-color: rgba(0, 0, 0, 0.5);
}
#log{
  height: 300px;
}

#verse{
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}

#link{
  text-align: center;
}

.custom-content a{
  color: white;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-decoration: underline;
}

.custom-content h1 {
  font-size:30px;
  font-weight: bold;
}

.custom-content form{
  margin-top: 10px;
}

.custom-content ul{
  list-style: none;
  margin-top:20px;
}

.custom-content img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.custom-content .message{
  padding-top: 25px;
  padding-bottom: 25px;
  word-wrap: break-word;
}

.custom-content .border{
  width: 10%;
  border-bottom: 1px solid #FFFAD2;
  height: 1px;
  margin: 0 auto;
}

.custom-content .message .content{
  font-style: italic;
  font-size:22px;
}

.custom-content .message .date {
  font-size: 15px;
}

.custom-content .btn{
  font-size: 18px;
  background-color: #532D1A;
  border-color: black;
}

.custom-content .btn-success:hover{
  background-color: #EEC9A9;
  border-color:black;
  color:black;
}

.custom-content .navbar-default {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.custom-content .navbar-default .navbar-brand{
  color:white;
  padding-right:10px;
}

.custom-content .navbar-default .navbar-brand:hover{
  color: white;
}

.custom-content .navbar-default .navbar-nav>li>a{
  color:white;
  background-color: inherit;
}

.custom-content .navbar-default .navbar-nav>li>a:hover{
  color: white;
  background-color: #532D1A;
}

.custom-content .navbar-default .navbar-nav>.active>a{
  background-color: #EEC9A9;
}

.custom-content .navbar-default .navbar-nav>.active>a:hover{
  background-color: #EEC9A9;
}

.custom-content textarea{
  color: black;
  resize: None;
  width: 650px;
  height: 120px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  margin-bottom: 10px;

  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .custom-content body{
    padding-top: 60px;
  }

  .custom-content h1{
    font-size: 36px;
  }

  .custom-content textarea{
    width: 95%;
    height: 280px;
    font-size: 24px;
  }

  .custom-content .btn{
    font-size: 24px;
  }

  .custom-content .navbar-header {
    float: none;
  }
  .custom-content .navbar-left,.navbar-right {
    float: none !important;
  }
  .custom-content .navbar-toggle {
    display: block;
  }
  .custom-content .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .custom-content .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .custom-content .navbar-collapse.collapse {
    display: none!important;
  }
  .custom-content .navbar-nav {
    float: none!important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .custom-content .navbar-nav>li {
    float: left;
    height: 49px;
  }
  .custom-content .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .custom-content .collapse.in{
    display:block !important;
  }
  .custom-content .navbar-default .navbar-nav>li>a{
    color:inherit;
    background-color: inherit;
  }
}
